{% extends 'financa/base.html' %}
{% load static %}
{% block content %}

<head>
	<title>Sobre Nós - Gerenciador de Gastos Pessoais</title>
</head>
<body>
	<h1 style="text-align: center;">Sobre Nós</h1>
	<div class="about">
			<p>Nós somos uma equipe de desenvolvimento apaixonada por ajudar as pessoas a gerenciar melhor suas finanças pessoais. Acreditamos que com as ferramentas e informações certas, todos podem alcançar seus objetivos financeiros.</p>
			<p>A CFD é um gerenciador de gastos pessoais é nossa contribuição para ajudar as pessoas a tomar melhores decisões financeiras. Nós trabalhamos duro para criar uma plataforma fácil de usar e que atenda às necessidades de todos os tipos de usuários.</p>
			<p>Estamos sempre abertos a feedback e sugestões para melhorar nossa plataforma. Se você tiver alguma ideia ou comentário, não hesite em entrar em contato conosco.</p>
		
		
		<h2 style="text-align: center;">Nossa Equipe</h2>
		<div class="colaboradores">
			<ul>
				<li><a href="https://www.linkedin.com/in/victoralmeida97/">Victor</a> - Desenvolvedor</li>
				<li><a href="https://www.linkedin.com/in/bruno-cavalcanti-de-ara%C3%BAjo-souto-santos/">Bruno</a> - Desenvolvedor</li>
			</ul>
		</div>
	</div>

</body>
</html>


{% endblock %}